.align
{
    margin-top: 50px;
    height:80%;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    margin-bottom: 50px;
}
body
{
    background-color: rgb(249, 247, 247);
}
img {
    display: block;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: auto;
    margin-top: 10%;
    width: 80%;
  }
  #val
  {
    border: none;
    box-shadow: none;
    text-align: center;
  }
  #design
  {
    border-radius: 25px;
    
  }

.footer{
  width:100%;
  bottom:0;
}
.socialIcon{
  display: flex;
  justify-content: center;
}
.socialIcon a{
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  background-color: rgb(192, 192, 216);
}
.socialIcon a i{
  font-size: 2em;
  color: rgb(7, 7, 6);
  opacity: 0.9;

}
.footerNav{
  margin:30px 0; 
}
.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a{
  color: rgb(0, 0, 0);
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
}
.footerbottom{
  padding:10px;
  text-align: center;
}
.navbar
{
  top: 0;
  width: 100%;
}
.home {
  align-items: center;
  width: 250px;
  display: flex;
  justify-content:center;
  margin-left: 30px;
  border-radius: 50px;
}
.submit
{
  text-align: center;
  justify-content: center;
  padding: auto;
}